{
    "openapi": "3.0.0",
    "info": {
        "title": "LyciaCookbook",
        "description": "Documentation for app LyciaCookbook",
        "contact": {
            "email": "antonio@libris.com.br"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0.0"
    },
    "servers": [{
        "url": "http://lyciacookbook.teste/api",
        "description": "local"
    }],
    "paths": {
        "/user/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Sign in",
                "description": "Login by email, password",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\ApiAuthController::login",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "device_name",
                                    "client_id"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "PassWord12345"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "Iphone 12"
                                    },
                                    "client_id": {
                                        "type": "string",
                                        "example": "0PR7XMQ7TdOoA0DDT4PzR9Bx"
                                    },
                                    "notify_token": {
                                        "type": "string",
                                        "example": "OfOo72HaavGKjAeyWP07e28SJ3xCuTDhOZdtCPi3"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "2517|NRp4WdFWgveoB22tKV9BWaHBosgXq7KDMQBM"
                                                },
                                                "paid": {
                                                    "type": "boolean",
                                                    "example": "true"
                                                },
                                                "evaluation": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "boolean",
                                            "example": "Logged"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong email address or password. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/create": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Create user",
                "description": "Create user",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\ApiAuthController::create",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "name",
                                    "device_name",
                                    "client_id"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Pedro Oliveira"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    },
                                    "mobile": {
                                        "type": "string",
                                        "format": "phone",
                                        "example": "+55 11 987878-0909"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "PassWord12345"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "format": "text",
                                        "example": "Iphone 12"
                                    },
                                    "client_id": {
                                        "type": "string",
                                        "example": "0PR7XMQ7TdOoA0DDT4PzR9Bx"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "type": "string",
                                                    "example": "2517|NRp4WdFWgveoB22tKV9BWaHBosgXq7KDMQBM"
                                                },
                                                "paid": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "evaluation": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Required field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": [
                                                            "The email field is required.",
                                                            "The email must be a valid email address."
                                                        ]
                                                    },
                                                    "collectionFormat": "multi"
                                                },
                                                "password": {
                                                    "type": "password",
                                                    "example": "The password field is required."
                                                },
                                                "device_name": {
                                                    "type": "string",
                                                    "example": "The device_name field is required."
                                                },
                                                "client_id": {
                                                    "type": "string",
                                                    "example": "The client_id field is required."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/token": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Add user Token",
                "description": "Add user Token",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\ApiAuthController::token",
                "requestBody": {
                    "description": "user token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "notify_token"
                                ],
                                "properties": {
                                    "notify_token": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "0PR7XMQ7TdOoA0DDT4PzR9Bx"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "notify_token": {
                                                    "type": "string",
                                                    "example": "WgveoB22tKV9BWaHBos"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Token added successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The notify_token field is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The notify_token field is required"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The notify_token field is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/bookmark": {
            "get": {
                "tags": [
                    "Bookmark"
                ],
                "summary": "List all bookmark",
                "description": "List all bookmark",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\BookmarkController::all",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Crepe Suiço"
                                                    },
                                                    "isNew": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    },
                                                    "isUpdated": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    },
                                                    "isBookmark": {
                                                        "type": "boolean",
                                                        "example": "true"
                                                    },
                                                    "hasVideo": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            },
            "post": {
                "tags": [
                    "Bookmark"
                ],
                "summary": "Add or remove bookmark",
                "description": "Add or remove bookmark",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\BookmarkController::store",
                "requestBody": {
                    "description": "Add or remove bookmark",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "integer"
                                ],
                                "properties": {
                                    "recipe_id": {
                                        "type": "integer",
                                        "example": "2"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Crepe Suiço"
                                                    },
                                                    "isNew": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    },
                                                    "isUpdated": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    },
                                                    "isBookmark": {
                                                        "type": "boolean",
                                                        "example": "true"
                                                    },
                                                    "hasVideo": {
                                                        "type": "boolean",
                                                        "example": "false"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Required field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "properties": {
                                                "recipe_id": {
                                                    "type": "string",
                                                    "example": "The recipe_id field is required."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/category": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "List all categories",
                "description": "List all categories",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\CategoryController::index",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Café da manhã e Pães variados"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/category/free": {
            "get": {
                "tags": [
                    "Not Logged In"
                ],
                "summary": "List all free categories",
                "description": "List all free categories",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\CategoryController::indexfree",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": "1"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Café da manhã e Pães variados"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/comment": {
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Create comment",
                "description": "Create comment",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\CommentController::store",
                "requestBody": {
                    "description": "Create comment",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "recipe_id",
                                    "content"
                                ],
                                "properties": {
                                    "recipe_id": {
                                        "type": "integer",
                                        "example": "2"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Adorei a receita."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "recipe_id": {
                                                    "type": "integer",
                                                    "example": "2"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "Adorei a receita."
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Comment created successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Required field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "properties": {
                                                "recipe_id": {
                                                    "type": "string",
                                                    "example": "The recipe_id field is required."
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "example": "The content field is required."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/user/reset": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Reset password",
                "description": "Send email with password reset",
                "operationId": "App\\\\Http\\\\Controllers\\\\API\\\\ForgotPasswordController::reset",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user1@mail.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Enviamos seu link de redefinição de senha por e-mail!"
                                        },
                                        "paid": {
                                            "type": "boolean",
                                            "example": "true"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong email address or password. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipe/create": {
            "post": {
                "tags": [
                    "MyCookbook"
                ],
                "summary": "Create MyCookbook recipe",
                "description": "Create MyCookbook recipe",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::create",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "ingredients",
                                    "directions",
                                    "note"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Cappuccino"
                                    },
                                    "yield": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "5 porções"
                                    },
                                    "ingredients": {
                                        "type": "array",
                                        "items": {
                                            "example": "Feijão"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "directions": {
                                        "type": "array",
                                        "items": {
                                            "example": "Colocar na panela"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "note": {
                                        "type": "array",
                                        "items": {
                                            "example": "Colocar na panela"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "picture": {
                                        "type": "string",
                                        "format": "binary",
                                        "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAHnRFWHRBdXRob3IAQ2hhc3lzIERyYXcgSUVTIDUuMDcuMDEd18xrAAAACXBIWXMAAN11AADddQGsh8ODAAAASFBMVEVHcEy5HyCRMTFMUFJPTk/PFRZ8OjpMUFBMUFGSMDGFh4el/79TWlhaZmFvlnyc8LWW4qyN0qJncGx6e317sIyi+7tkgW+FwZdB4h5bAAAACnRSTlMAKGT/rBOK0+9Kh0R6/gAAFRBJREFUeNrsXQmXqywM/UZtbSvuRv//P/26CCSQoLU4yzty3jLtzKsQstzcBN5//x3jGMc4xjGOcYxjHOMYxzjGMY5xjGMc4xjHOMYxjnGMYxzjGMc4xjGOcYxjRB9f1+R8zrIsz/PLJU0vl/sX95dZkly//vGVJ8l91el9zak4Lll2Tv5BOZyu5+y5bLN2JcvgIYbz9fQPbXyWp3Td/urV6038jTz7F1Th65yLW63swqWRn7/+tt5f3NWm4QUzynA5X//m8q9ZyN4V90oUTfbnZHBK8nTFUJJE8JvPP/Lk9KcMn2ozNQLVjcMwtW3bNHVdANRNc38xDVXVKfPjvjz+jikkuaTyXTW0DRRF8fitB9g/oaibdnjIgZdBnvyJ5bPaXY5D+1w6kHX74/lDdymUxAbUXxHBNWcsXFVTXYTWy70H9TQLgX5efv0ry5/n3A2tt1yYvwDy3vwLS6IdSt8Sfq0I8PLnWY9DA5Kur9SJZhhdCHn5lSI4nV2/r6rGXZndZkBvuQoAjo9oKuUYwuX864Li1c3wugnchXN7HXwT9CuYOjco/i4lOGXU8983H/z1AdpdoG/RTQfmR7AaPL/KfpESJHT7VVXb2YNn1UC+8F/xinHHCBXNnC7Jr9x+lVY1q+DgbTFrCqHIUFdOivArlODrQgLV3fNR9aW7ShaEXoiOgsLFpqLx4BckywkhOsYGnMUBF96cr4ENFlzYKKAZCcxMfkfwm4WgJt6/yxrviQeCAOH53anEzvD8s+sn0O9p/CSaEx3A++i6eS8xgoBXxK5ApfkPOgId/J8aWbaFtLXcn+yaOZm5GOrxqy2RGfwcJHitf7b+ClxHRjcPuPXyyK/gZOB8F4PDn5LAFZt/y5k8sO4QJCToBT4ulujfLQYF1x9z//MUuoaLdzLMRSKCgguA4PkMz2iaDk3g+rP7X4Gkt34Yk5WdGgPIkUJ/iWFR8kPh/7kJA1CfDizkYVAvszQ+bgDnKAAGS5p+twSs/itr/hDYVt49FAFHCLIhGcG05Q/pANL/smGjmbetIAIbTkIQpBEQVYAk8I1+4Autv2b2E1gTJq4NZMcovuG6iMcP1KW1gm9LDE4X88yyhtB0OeAXXjtIWQOLF40EXnjgmzChwb/quf+woMOLwA8k+MjCKA9T1pZA/yZUfDYApKydmQFPbkCA/5YEAowa8UZVlwYQnb9n/dT+A/smuHvBIgL0IAjp1OsLbQXqWyRwtVW/RpypS/JCME0G39UDiw/csKH/btT3hYK7A1QE/nPWGaR7lzJ/CCoAr2it7SbY2w1kRtaDgPAYVo+RDXBZDhQymgQOHxkIOhhHmH0XAVYtVfiCfL+Y9UJYZUB6YmV0INkdAbyKXuy6wZtuSAVA5E5knyFawqi3ZlcjyAz9UzMKAJJKgFQX8Zwd8DgZBC+I/pEFRNnuBnAfbcGU83iKd8EmoCiKMAKGZTf6ZEj2T4tMBFBVeCnA+DY35DEhhFMiKAIwiP6bylQLTntDoFJIzxZDIPejspsH1rEUok8sd4ZDNgdsuR0EziUAx3WDqD2wxnAE6gAbwddeHvDV6FVJkwWe+Wb3HgI0SOGZjUSlUe9oqOJsVwUoQVo3m+SCyH2CJBQQ1QHCtFK5pwoYDDixiS+Ilb8QCSYDYwiUioRsEYpJt6jsoAJXzYGMS9z+qhYQzgI8N7FMKriGM+6XFGWOBySbz8c7f6WB2C9JDLhoUADHk2M/mO2gADMGDnR6CoUNoROEt3y2miAGCDeS7qcCpgukXaZvJRMIVAoC/hQYNgC4DAK0CqgdVOCkP3eU6dpAJiB4SDGZgJCdFHI6ZZKi+1xP+4DARoAkfFbP+kSHBIKwCvCxRswPimYfflA3gI+sacICFQjFAkICqVOGdwAQKrFpL5Dv4gInoVAp1nTDPwN85QSKJVpMlNcdC6gd3GA221UJq/h6wY4ZdQ9pkECMg1RP1kN3kUV0g4YIqmRmVigDkabwBQcXqKnwtQFgi6s6I4iYFWsihBLhwBZA+GAQqpgKKG+xMiIkRw83GLtinrtEYBDhwhKk8yI8CPVSoari6oxrWtHd4ElTzhPwBQ2xExhkeARFUEYhTYFAsf3xe4pdI9AxQEGo9QfEaMXVirw3eR8RQliCtt31QZ9Pu0ZDQToP9Nk9sSAIEsspxj8WPoRk50Om+R1NkZ8ju4BBInnqdhiqcazGapjaOmD2EGZSQeaY9Ivn+cLx/qxhaGtWX0DXiaI5gS8SA9z9h9Y93FWOUyMjeyjEREZuGXr+I3SMbA50ZdWyXFOjf+ArXhC0KIhsX13x533LQe4cFGgtCDbLNUPJn76tGka0ZdQKQYZQEN0s9wADGeMAsp+U4QLjHQCmMXD+eGy8k0bVvGdxwKAuh0xOiJrb9FL/6gPTQFhLPT4+oxvoMJI2Hzcq0nBrAmFUNtjpB2tG74SvYqcm09hFoCHO7OawdN+A7dUzn1LHZIc1Cihp6G3K0K0Q9vUkN8eCnBywrZDuKXSvWdt+ShmxhzjBiZCZYKsC9yFQX1BL1T+pUdj6xXoMX7yAzmpNJDhV8/eSKD7w9YwBT7Bxrrwou67vu77rSubo+yClixCiQO+/JuXeq/F80uNRrycptmEfIYEsVhBQLx+ol1AT9ev6Gxp9Xzo3YqixluqjIVoU3Bijyp4+qcMPUuhmApgiCuBC2UDAJajHJpA56amVinNSwAJ44BtEm5Hufck+CD2nBCvSRh8yjpQKPgaS72B1r7sJA18D8WLTQXD7vF9wnMzScxwvBfq9zxPCq7JBQJ9etM64v8mjI0uYoAh1j7t4oSW63wUeY5VAtfZzdK/ANVYQUKggYF1zaP0PG+VcoaT2pCdiwiGvXHiMwkULhxT5PAw87kJSRL9MBFDhic1zU0gCPP3tEwcT3v5VT7F1y9eHDdGqA2dMiIMWrgraJbYDFA+mQAwgJCPW/3L1Q6wKPPBjtIOlGbHhRwKo3pga9QQTZ+1+fGxRjOlWPcTARXN0OV4czOz2ATHPtF81N62g6hVK5T4XEyNR67Na+wyvfzemAGxnIHGB6rZ2KHLAgumWow7AHoJZu/6HCigdqwBpUYzqSG4C+UsBYE1okjT01V0g1XlB4z/13v5jFdApaxuNFcudsnCr92f9+u9WYEOBWyJ26bHB6v8bT7i5xUtdHYkrAEDx5a3p3axZN+G+CesA3tj/WcmUibU2Vn8ugMsMZmvUkLo2BnKh+oXY2TIg4C6n99ZvIuE4f2Ste8c/FgBOBR5zHN+LAZ6RIkTIkEKDvYLrtknCIy6OPEZMAYDmWtT7ArBghRiB0yNVLydZCwLW1SuTDUXJhpXRAJsJvysAE6lMiZUhiCsDgN79dOMF9cHqaLSopgPqecp6j96eYe9zN+CQZU2abhXvTWOHwvqAOIRAjgMsEsD7U+yYXlPa+2EgQHfbrgGv4DrzwipCGFQIZd9/65D+/hRtLGx4NqzehABYE4gYBnMLhUFXndQmDXgZgaJ5O04Eqg0gkxqYSpUuokYTQOY0R4ybTcBA4geoYEhyE7m2KECfUuIqXjJ0xhgWLFXbfTDLJxbwjr9M6Qey7al/eSHqKKdnEkUYR4PVy9sWL0AJRsqPjptDIMq3KodS/5wSSxDZghNtZ5o9+WtBBRTtuJ3L/+kHumWsa3CS9s8F8IUPymj3qrYqqjI24JVJp0UP0K8IAhpjaIF8zgqbPnHNZagPLNXmLH5TWbXatnpetRRCwrXepgiNYhoItE46uMkJGDcIblsE6BLKJxZgCJd4URCxorN/Xees+4CqqpSpFBkYfLt9gLGGIn5t8GzvywKC1/oP4oAaXCSsK8HqE8t6YkywahqlUS6hXhBA1wU+mmrlNku8H1573wJKnLOqSF1SJ53G1k4gTPv+My9IbECLdTPAUi+9oloapVk212B4nmodAbKq0m0fiwCxdcoKZo/idEpmRGvBxoFNCZE2dTcdDBAt/drQMuqPrKKeHkzooXlcHd2WtqoUMUyaGtf/u0a/PQSY4o05SB+nUfKLnhh7qKtaXR7t5bydJoO6gLbVrSiErprIZ6jzebmDF7O3UVfPj3NbZDcDzN5XAF0ajnVi4qwszHoBuCrdDAcxc4PPHpdbcVBp2iNMmWmMfHTwmjq8IKrfbKav3WRA3xT8br2hT4mF4j5RFevAhDk0NtAGDLUBDOgw2LmtIeM2ifZMi9QQ/VqtjATvZ/92+UEJS3lACGKU3Iw+ldGP0OtOMcRjNNuKuAazDO7pkG1Mk22+aM35RMNYxDs6epobpR73BwHytBt0QJnc0jkRtIlo4XoETRdjzOuEMlR5047bFvtMG1u/3mTd8z4AOuV4oyvC9pJ0YOn1Pa6SuZJ2xzklsDe8l/2bW6ZKv2+eab3p1zaeqMa3JRX1Donc0u5m0u2nzUw0HVpBtPRSm3CLCo3lHsfnn6yIQsQYYBqTmXUf2jM1t4s5ZwPUW9JEzWdqQB9jtiXuBQoGCowYwU+oJ35916RTGzM5QZVu+Sg3oujqQuwb1Zg7NGwoUOscQZ+6qJ2URhojzn51NLV327snOWJfqPalF1rhqzxRMHyobr+qfmkVwOkPGNXKHKvH5yQqpsVij8u0Mu3Aa+K+BnIuol/d1s41iKAW0X4x+lF3qrWp1v9lbfy7tK7+E91zPQ/zFQkdZLSVdGeIzTBkP2B68BXpO3Ri4B73C5sbxWtqvi09wsZrQV+i9n/x8k0EroRYQHff6pLbZJXHX/9/iT69MzjtbbXzX+EpTw3ItFUj36BUl8Sg3NjaKe+8JD0z+39717rsKAiDbWvVjoDgmvr+b7r1VCFAgp2drdoe8mPnzM65NFxCrt83vBNW1EHqdgGcTTTe9ViDfvn0f3r/YztAaoinJ0GLcEyM/jXCM/8QFJjFe1BFq4BTBe2ckeRMoyBI1sc0VqIRMSu1oEmZx8iOqjejzDfOFwghIZJz5HhJDDk7iFpmtVxhqhZuFjE4QPry3/pjE1bAL+u4f03/As22Nz8INLSy7l9Yyd4Qvdb3twML16i2G8/9jDLg2o6WQL3EQPucF0/NjMsBCPw528hfv0t/H1WRAA4c+2jEGc3L9IbAnSNYBQDMnR2WFpjOdTM4zcgXWOYSoskX4yA1hKf9/LHXsUjniZfeY/FE118ZoLHabIvN+w7AIyJA7CIMfipEjNkBBTFLyAkB4TLxhEwc3gysnHMh3koyYeHlFTn0Oo8V6VHZwEZINWiWZAD4kXJ4rIGyj7/o1WhaYOEnLGzImxkWfHht4BR47ol+CAcNAUk4TQyTOv2WDloWegE2gdWOvSGZwkFM4QICNzwOqywVBLjuYjflVkw7ziFWDLwhcNCgScBlYIBUoF1FqwfsA76fbepmrbNOEUK0a/AQFJwCJLDlCKAN9w02IhUbMK6VIipGAWPiaMyIBMB6S+Lvwxp0Hci3wsqzl2BIocgyILAcNjL9uMEKPmXQYbYR3ZojW9RAskLRIPApFMwEbiiD2IkJOPTWpItlQDZGMSy15JXldpeHVqKA54IoyrpAotxGf+cP/mQGWKz7JcujpFQdgwQNPDCjXn4u4QN4lYANqdjPBN9W+BbYLI2c8wDQrnKIYMv5zIz4hJYkiqSFtBEbso7W9o9qliF8aSoUDlOsZSFBI1iJgWmpjdwuZwDq7fQvTk1kBjhIOOuiOdg/aFOO0Q+Iir3WkgqX0Pe7GGi7C+C7Q3cOPTfoV3lGsuSuh0WiAUGoSca0LN9vY6CtyacrBxmYxghTOKchBw1cRnAOo4wP0qnamMuQmDb/fwiyL7tDtZfnJnCW5y+6MJevRs3QiYHBe/9MIgIwoXSAt1UXW4szA6JLWnYdZ/iEVGocjZniXHhEzWYCy71LCimSMJ3opdzJAFgzICh/KASJAS3F5d/k3nG07U+HyNXbdmCfx/Szd2BTPEABA75SQfgBJAX2EfSyoJeq2EVqe7YV0EkfQACs0U0QaUBO1cWBtucFqct+BiA0A3MjObCc8TjTzddNEGCq6tKO4uIqTSdlDwMQtI0EQGnUMQDtAWMLAoPWdWA/AYkhhhtyS+s6tJpbsZuccdEXGBx49MwpeVk1iPdBp9Jn8+9HPXrnYkepBFv2b0nasW5Eqe5w6+V9KnvQ5LP+I4DK6FWxq1R+4wOkXoNnM8FDwc6ME0Z+L+VU+5ayn+DyRw00BwVhYJ0DIHbWv7iW9h5LzQDlcbx7eKsBWgDuCIUvgHYOQF3sLc4nfriE0CboVIHGkWR4OICn8UAtBPV19wXAj6Er/6f5RthMYrKIRDQSNQfQf1mBhZCaLP8xHEz05q+wdKL7v58DEEQFjRtc6bgyGfBImnT2G6hmKvD2/1YcRG4ofus4LWl2mhWIzaj43iFv6jD6zysgLh7G+XqhE9L3Hgi6etxGdyD90VjV4hNSlTFSq3XCQvQD5qj6e7dAjAx5AlM9oFlYKYamEZFLHEx/uwIiAMkBzv61fH8FdwBwZ/rh9McZIr+HP24AokmloSW9P/cqHFx/7xY8MySQIMoElmWEMZgoAS6ac3FIuTmPaE7nce1QLHEaVzJsMd1KcysOKsgrDoJDpi68xh9qVwWz7RzF/yNXoA6HWejgPmXsqWAC9QyK+sD6T7GhuJCpUkg2QcRxAETX/0DxX1JKlOaRuiXzeekmiPB+oOjncimPrj/OkjkE3SAaBL7hMe6bNHheoio+QCoiu88AqieodZe1Ujht+BH6P59DFyAbJkVKWP04SYKdf3Hc5y+RJrOHgCfl5rgHIRjEqa/Fx8i18rLdhkkDQjJJCAZbv085/rZk0kSHAJKZMQi76/yS6lG93xd9omnKh58XJbuKB69scmzvZ7Vi8LME41rJANxYuuuSmluAr8Unyq3xi34m0U3n/X8wNPU51j8+BEHdU0PS650HB4NK+oduPzoE6C2/j8DGPDOR1d2fOvvc7V8exLBLbOiATYB2EcVwdSo+XXCaJGiYDHJhJuol+vTtXw5BE7YCSWU6/wh0uEFy/qqpii8Rdw+wOVCDefYJmkERHUSiuhbfI6fyFY5m7DiUp+K7xPcM11rG6lvxfXIrX+wYFeU3qo/NYWgRPKbq5qvufhwl1oJmU59ry/W5+HY5VTVnDOvqVPwKOZ3LJvJ5yvMv0d4uQlXWdSMuTV2X1S9TPkuWLFmyZMmSJUuWLFmyZMmSJUuWLFmyZMmyi/wFQXNyPpmXMmEAAAAASUVORK5CYII="
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {},
                                            "collectionFormat": "multi"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Recipe created"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Required field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": [
                                                            "The email field is required.",
                                                            "The email must be a valid email address."
                                                        ]
                                                    },
                                                    "collectionFormat": "multi"
                                                },
                                                "password": {
                                                    "type": "password",
                                                    "example": "The password field is required."
                                                },
                                                "device_name": {
                                                    "type": "string",
                                                    "example": "The device_name field is required."
                                                },
                                                "client_id": {
                                                    "type": "string",
                                                    "example": "The client_id field is required."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/recipe/update/{id}": {
            "post": {
                "tags": [
                    "MyCookbook"
                ],
                "summary": "Update MyCookbook recipe",
                "description": "Update MyCookbook recipe",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::update",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "ID of recipe",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "example": "1"
                }],
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "ingredients",
                                    "directions",
                                    "note"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Cappuccino"
                                    },
                                    "yield": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "5 porções"
                                    },
                                    "ingredients": {
                                        "type": "array",
                                        "items": {
                                            "example": "Feijão"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "directions": {
                                        "type": "array",
                                        "items": {
                                            "example": "Colocar na panela"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "note": {
                                        "type": "array",
                                        "items": {
                                            "example": "Colocar na panela"
                                        },
                                        "collectionFormat": "multi"
                                    },
                                    "picture": {
                                        "type": "string",
                                        "format": "binary",
                                        "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAAHnRFWHRBdXRob3IAQ2hhc3lzIERyYXcgSUVTIDUuMDcuMDEd18xrAAAACXBIWXMAAN11AADddQGsh8ODAAAASFBMVEVHcEy5HyCRMTFMUFJPTk/PFRZ8OjpMUFBMUFGSMDGFh4el/79TWlhaZmFvlnyc8LWW4qyN0qJncGx6e317sIyi+7tkgW+FwZdB4h5bAAAACnRSTlMAKGT/rBOK0+9Kh0R6/gAAFRBJREFUeNrsXQmXqywM/UZtbSvuRv//P/26CCSQoLU4yzty3jLtzKsQstzcBN5//x3jGMc4xjGOcYxjHOMYxzjGMY5xjGMc4xjHOMYxjnGMYxzjGMc4xjGOcYxjRB9f1+R8zrIsz/PLJU0vl/sX95dZkly//vGVJ8l91el9zak4Lll2Tv5BOZyu5+y5bLN2JcvgIYbz9fQPbXyWp3Td/urV6038jTz7F1Th65yLW63swqWRn7/+tt5f3NWm4QUzynA5X//m8q9ZyN4V90oUTfbnZHBK8nTFUJJE8JvPP/Lk9KcMn2ozNQLVjcMwtW3bNHVdANRNc38xDVXVKfPjvjz+jikkuaTyXTW0DRRF8fitB9g/oaibdnjIgZdBnvyJ5bPaXY5D+1w6kHX74/lDdymUxAbUXxHBNWcsXFVTXYTWy70H9TQLgX5efv0ry5/n3A2tt1yYvwDy3vwLS6IdSt8Sfq0I8PLnWY9DA5Kur9SJZhhdCHn5lSI4nV2/r6rGXZndZkBvuQoAjo9oKuUYwuX864Li1c3wugnchXN7HXwT9CuYOjco/i4lOGXU8983H/z1AdpdoG/RTQfmR7AaPL/KfpESJHT7VVXb2YNn1UC+8F/xinHHCBXNnC7Jr9x+lVY1q+DgbTFrCqHIUFdOivArlODrQgLV3fNR9aW7ShaEXoiOgsLFpqLx4BckywkhOsYGnMUBF96cr4ENFlzYKKAZCcxMfkfwm4WgJt6/yxrviQeCAOH53anEzvD8s+sn0O9p/CSaEx3A++i6eS8xgoBXxK5ApfkPOgId/J8aWbaFtLXcn+yaOZm5GOrxqy2RGfwcJHitf7b+ClxHRjcPuPXyyK/gZOB8F4PDn5LAFZt/y5k8sO4QJCToBT4ulujfLQYF1x9z//MUuoaLdzLMRSKCgguA4PkMz2iaDk3g+rP7X4Gkt34Yk5WdGgPIkUJ/iWFR8kPh/7kJA1CfDizkYVAvszQ+bgDnKAAGS5p+twSs/itr/hDYVt49FAFHCLIhGcG05Q/pANL/smGjmbetIAIbTkIQpBEQVYAk8I1+4Autv2b2E1gTJq4NZMcovuG6iMcP1KW1gm9LDE4X88yyhtB0OeAXXjtIWQOLF40EXnjgmzChwb/quf+woMOLwA8k+MjCKA9T1pZA/yZUfDYApKydmQFPbkCA/5YEAowa8UZVlwYQnb9n/dT+A/smuHvBIgL0IAjp1OsLbQXqWyRwtVW/RpypS/JCME0G39UDiw/csKH/btT3hYK7A1QE/nPWGaR7lzJ/CCoAr2it7SbY2w1kRtaDgPAYVo+RDXBZDhQymgQOHxkIOhhHmH0XAVYtVfiCfL+Y9UJYZUB6YmV0INkdAbyKXuy6wZtuSAVA5E5knyFawqi3ZlcjyAz9UzMKAJJKgFQX8Zwd8DgZBC+I/pEFRNnuBnAfbcGU83iKd8EmoCiKMAKGZTf6ZEj2T4tMBFBVeCnA+DY35DEhhFMiKAIwiP6bylQLTntDoFJIzxZDIPejspsH1rEUok8sd4ZDNgdsuR0EziUAx3WDqD2wxnAE6gAbwddeHvDV6FVJkwWe+Wb3HgI0SOGZjUSlUe9oqOJsVwUoQVo3m+SCyH2CJBQQ1QHCtFK5pwoYDDixiS+Ilb8QCSYDYwiUioRsEYpJt6jsoAJXzYGMS9z+qhYQzgI8N7FMKriGM+6XFGWOBySbz8c7f6WB2C9JDLhoUADHk2M/mO2gADMGDnR6CoUNoROEt3y2miAGCDeS7qcCpgukXaZvJRMIVAoC/hQYNgC4DAK0CqgdVOCkP3eU6dpAJiB4SDGZgJCdFHI6ZZKi+1xP+4DARoAkfFbP+kSHBIKwCvCxRswPimYfflA3gI+sacICFQjFAkICqVOGdwAQKrFpL5Dv4gInoVAp1nTDPwN85QSKJVpMlNcdC6gd3GA221UJq/h6wY4ZdQ9pkECMg1RP1kN3kUV0g4YIqmRmVigDkabwBQcXqKnwtQFgi6s6I4iYFWsihBLhwBZA+GAQqpgKKG+xMiIkRw83GLtinrtEYBDhwhKk8yI8CPVSoari6oxrWtHd4ElTzhPwBQ2xExhkeARFUEYhTYFAsf3xe4pdI9AxQEGo9QfEaMXVirw3eR8RQliCtt31QZ9Pu0ZDQToP9Nk9sSAIEsspxj8WPoRk50Om+R1NkZ8ju4BBInnqdhiqcazGapjaOmD2EGZSQeaY9Ivn+cLx/qxhaGtWX0DXiaI5gS8SA9z9h9Y93FWOUyMjeyjEREZuGXr+I3SMbA50ZdWyXFOjf+ArXhC0KIhsX13x533LQe4cFGgtCDbLNUPJn76tGka0ZdQKQYZQEN0s9wADGeMAsp+U4QLjHQCmMXD+eGy8k0bVvGdxwKAuh0xOiJrb9FL/6gPTQFhLPT4+oxvoMJI2Hzcq0nBrAmFUNtjpB2tG74SvYqcm09hFoCHO7OawdN+A7dUzn1LHZIc1Cihp6G3K0K0Q9vUkN8eCnBywrZDuKXSvWdt+ShmxhzjBiZCZYKsC9yFQX1BL1T+pUdj6xXoMX7yAzmpNJDhV8/eSKD7w9YwBT7Bxrrwou67vu77rSubo+yClixCiQO+/JuXeq/F80uNRrycptmEfIYEsVhBQLx+ol1AT9ev6Gxp9Xzo3YqixluqjIVoU3Bijyp4+qcMPUuhmApgiCuBC2UDAJajHJpA56amVinNSwAJ44BtEm5Hufck+CD2nBCvSRh8yjpQKPgaS72B1r7sJA18D8WLTQXD7vF9wnMzScxwvBfq9zxPCq7JBQJ9etM64v8mjI0uYoAh1j7t4oSW63wUeY5VAtfZzdK/ANVYQUKggYF1zaP0PG+VcoaT2pCdiwiGvXHiMwkULhxT5PAw87kJSRL9MBFDhic1zU0gCPP3tEwcT3v5VT7F1y9eHDdGqA2dMiIMWrgraJbYDFA+mQAwgJCPW/3L1Q6wKPPBjtIOlGbHhRwKo3pga9QQTZ+1+fGxRjOlWPcTARXN0OV4czOz2ATHPtF81N62g6hVK5T4XEyNR67Na+wyvfzemAGxnIHGB6rZ2KHLAgumWow7AHoJZu/6HCigdqwBpUYzqSG4C+UsBYE1okjT01V0g1XlB4z/13v5jFdApaxuNFcudsnCr92f9+u9WYEOBWyJ26bHB6v8bT7i5xUtdHYkrAEDx5a3p3axZN+G+CesA3tj/WcmUibU2Vn8ugMsMZmvUkLo2BnKh+oXY2TIg4C6n99ZvIuE4f2Ste8c/FgBOBR5zHN+LAZ6RIkTIkEKDvYLrtknCIy6OPEZMAYDmWtT7ArBghRiB0yNVLydZCwLW1SuTDUXJhpXRAJsJvysAE6lMiZUhiCsDgN79dOMF9cHqaLSopgPqecp6j96eYe9zN+CQZU2abhXvTWOHwvqAOIRAjgMsEsD7U+yYXlPa+2EgQHfbrgGv4DrzwipCGFQIZd9/65D+/hRtLGx4NqzehABYE4gYBnMLhUFXndQmDXgZgaJ5O04Eqg0gkxqYSpUuokYTQOY0R4ybTcBA4geoYEhyE7m2KECfUuIqXjJ0xhgWLFXbfTDLJxbwjr9M6Qey7al/eSHqKKdnEkUYR4PVy9sWL0AJRsqPjptDIMq3KodS/5wSSxDZghNtZ5o9+WtBBRTtuJ3L/+kHumWsa3CS9s8F8IUPymj3qrYqqjI24JVJp0UP0K8IAhpjaIF8zgqbPnHNZagPLNXmLH5TWbXatnpetRRCwrXepgiNYhoItE46uMkJGDcIblsE6BLKJxZgCJd4URCxorN/Xees+4CqqpSpFBkYfLt9gLGGIn5t8GzvywKC1/oP4oAaXCSsK8HqE8t6YkywahqlUS6hXhBA1wU+mmrlNku8H1573wJKnLOqSF1SJ53G1k4gTPv+My9IbECLdTPAUi+9oloapVk212B4nmodAbKq0m0fiwCxdcoKZo/idEpmRGvBxoFNCZE2dTcdDBAt/drQMuqPrKKeHkzooXlcHd2WtqoUMUyaGtf/u0a/PQSY4o05SB+nUfKLnhh7qKtaXR7t5bydJoO6gLbVrSiErprIZ6jzebmDF7O3UVfPj3NbZDcDzN5XAF0ajnVi4qwszHoBuCrdDAcxc4PPHpdbcVBp2iNMmWmMfHTwmjq8IKrfbKav3WRA3xT8br2hT4mF4j5RFevAhDk0NtAGDLUBDOgw2LmtIeM2ifZMi9QQ/VqtjATvZ/92+UEJS3lACGKU3Iw+ldGP0OtOMcRjNNuKuAazDO7pkG1Mk22+aM35RMNYxDs6epobpR73BwHytBt0QJnc0jkRtIlo4XoETRdjzOuEMlR5047bFvtMG1u/3mTd8z4AOuV4oyvC9pJ0YOn1Pa6SuZJ2xzklsDe8l/2bW6ZKv2+eab3p1zaeqMa3JRX1Donc0u5m0u2nzUw0HVpBtPRSm3CLCo3lHsfnn6yIQsQYYBqTmXUf2jM1t4s5ZwPUW9JEzWdqQB9jtiXuBQoGCowYwU+oJ35916RTGzM5QZVu+Sg3oujqQuwb1Zg7NGwoUOscQZ+6qJ2URhojzn51NLV327snOWJfqPalF1rhqzxRMHyobr+qfmkVwOkPGNXKHKvH5yQqpsVij8u0Mu3Aa+K+BnIuol/d1s41iKAW0X4x+lF3qrWp1v9lbfy7tK7+E91zPQ/zFQkdZLSVdGeIzTBkP2B68BXpO3Ri4B73C5sbxWtqvi09wsZrQV+i9n/x8k0EroRYQHff6pLbZJXHX/9/iT69MzjtbbXzX+EpTw3ItFUj36BUl8Sg3NjaKe+8JD0z+39717rsKAiDbWvVjoDgmvr+b7r1VCFAgp2drdoe8mPnzM65NFxCrt83vBNW1EHqdgGcTTTe9ViDfvn0f3r/YztAaoinJ0GLcEyM/jXCM/8QFJjFe1BFq4BTBe2ckeRMoyBI1sc0VqIRMSu1oEmZx8iOqjejzDfOFwghIZJz5HhJDDk7iFpmtVxhqhZuFjE4QPry3/pjE1bAL+u4f03/As22Nz8INLSy7l9Yyd4Qvdb3twML16i2G8/9jDLg2o6WQL3EQPucF0/NjMsBCPw528hfv0t/H1WRAA4c+2jEGc3L9IbAnSNYBQDMnR2WFpjOdTM4zcgXWOYSoskX4yA1hKf9/LHXsUjniZfeY/FE118ZoLHabIvN+w7AIyJA7CIMfipEjNkBBTFLyAkB4TLxhEwc3gysnHMh3koyYeHlFTn0Oo8V6VHZwEZINWiWZAD4kXJ4rIGyj7/o1WhaYOEnLGzImxkWfHht4BR47ol+CAcNAUk4TQyTOv2WDloWegE2gdWOvSGZwkFM4QICNzwOqywVBLjuYjflVkw7ziFWDLwhcNCgScBlYIBUoF1FqwfsA76fbepmrbNOEUK0a/AQFJwCJLDlCKAN9w02IhUbMK6VIipGAWPiaMyIBMB6S+Lvwxp0Hci3wsqzl2BIocgyILAcNjL9uMEKPmXQYbYR3ZojW9RAskLRIPApFMwEbiiD2IkJOPTWpItlQDZGMSy15JXldpeHVqKA54IoyrpAotxGf+cP/mQGWKz7JcujpFQdgwQNPDCjXn4u4QN4lYANqdjPBN9W+BbYLI2c8wDQrnKIYMv5zIz4hJYkiqSFtBEbso7W9o9qliF8aSoUDlOsZSFBI1iJgWmpjdwuZwDq7fQvTk1kBjhIOOuiOdg/aFOO0Q+Iir3WkgqX0Pe7GGi7C+C7Q3cOPTfoV3lGsuSuh0WiAUGoSca0LN9vY6CtyacrBxmYxghTOKchBw1cRnAOo4wP0qnamMuQmDb/fwiyL7tDtZfnJnCW5y+6MJevRs3QiYHBe/9MIgIwoXSAt1UXW4szA6JLWnYdZ/iEVGocjZniXHhEzWYCy71LCimSMJ3opdzJAFgzICh/KASJAS3F5d/k3nG07U+HyNXbdmCfx/Szd2BTPEABA75SQfgBJAX2EfSyoJeq2EVqe7YV0EkfQACs0U0QaUBO1cWBtucFqct+BiA0A3MjObCc8TjTzddNEGCq6tKO4uIqTSdlDwMQtI0EQGnUMQDtAWMLAoPWdWA/AYkhhhtyS+s6tJpbsZuccdEXGBx49MwpeVk1iPdBp9Jn8+9HPXrnYkepBFv2b0nasW5Eqe5w6+V9KnvQ5LP+I4DK6FWxq1R+4wOkXoNnM8FDwc6ME0Z+L+VU+5ayn+DyRw00BwVhYJ0DIHbWv7iW9h5LzQDlcbx7eKsBWgDuCIUvgHYOQF3sLc4nfriE0CboVIHGkWR4OICn8UAtBPV19wXAj6Er/6f5RthMYrKIRDQSNQfQf1mBhZCaLP8xHEz05q+wdKL7v58DEEQFjRtc6bgyGfBImnT2G6hmKvD2/1YcRG4ofus4LWl2mhWIzaj43iFv6jD6zysgLh7G+XqhE9L3Hgi6etxGdyD90VjV4hNSlTFSq3XCQvQD5qj6e7dAjAx5AlM9oFlYKYamEZFLHEx/uwIiAMkBzv61fH8FdwBwZ/rh9McZIr+HP24AokmloSW9P/cqHFx/7xY8MySQIMoElmWEMZgoAS6ac3FIuTmPaE7nce1QLHEaVzJsMd1KcysOKsgrDoJDpi68xh9qVwWz7RzF/yNXoA6HWejgPmXsqWAC9QyK+sD6T7GhuJCpUkg2QcRxAETX/0DxX1JKlOaRuiXzeekmiPB+oOjncimPrj/OkjkE3SAaBL7hMe6bNHheoio+QCoiu88AqieodZe1Ujht+BH6P59DFyAbJkVKWP04SYKdf3Hc5y+RJrOHgCfl5rgHIRjEqa/Fx8i18rLdhkkDQjJJCAZbv085/rZk0kSHAJKZMQi76/yS6lG93xd9omnKh58XJbuKB69scmzvZ7Vi8LME41rJANxYuuuSmluAr8Unyq3xi34m0U3n/X8wNPU51j8+BEHdU0PS650HB4NK+oduPzoE6C2/j8DGPDOR1d2fOvvc7V8exLBLbOiATYB2EcVwdSo+XXCaJGiYDHJhJuol+vTtXw5BE7YCSWU6/wh0uEFy/qqpii8Rdw+wOVCDefYJmkERHUSiuhbfI6fyFY5m7DiUp+K7xPcM11rG6lvxfXIrX+wYFeU3qo/NYWgRPKbq5qvufhwl1oJmU59ry/W5+HY5VTVnDOvqVPwKOZ3LJvJ5yvMv0d4uQlXWdSMuTV2X1S9TPkuWLFmyZMmSJUuWLFmyZMmSJUuWLFmyZMmyi/wFQXNyPpmXMmEAAAAASUVORK5CYII="
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {},
                                            "collectionFormat": "multi"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Recipe updated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Wrong credentials response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Required field",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": [
                                                            "The email field is required.",
                                                            "The email must be a valid email address."
                                                        ]
                                                    },
                                                    "collectionFormat": "multi"
                                                },
                                                "password": {
                                                    "type": "password",
                                                    "example": "The password field is required."
                                                },
                                                "device_name": {
                                                    "type": "string",
                                                    "example": "The device_name field is required."
                                                },
                                                "client_id": {
                                                    "type": "string",
                                                    "example": "The client_id field is required."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/recipe": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "List all recipes",
                "description": "List all recipes",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::listItensShort",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "Café da manhã e Pães variados": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "category.name": {
                                                                "type": "string",
                                                                "example": "Café da manhã e Pães variados"
                                                            },
                                                            "category.id": {
                                                                "type": "integer",
                                                                "example": "1"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Ovos mexidos com cottage"
                                                            },
                                                            "id": {
                                                                "type": "integer",
                                                                "example": "10"
                                                            },
                                                            "enable": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "author": {
                                                                "type": "string",
                                                                "example": "Carol Tamman"
                                                            },
                                                            "search": {
                                                                "type": "string",
                                                                "example": "Ovos mexidos com cottage  Carol Tamman"
                                                            },
                                                            "hasVideo": {
                                                                "type": "boolean",
                                                                "example": "true"
                                                            },
                                                            "isNew": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "isUpdated": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "isBookmark": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/recipe/free": {
            "get": {
                "tags": [
                    "Not Logged In"
                ],
                "summary": "List all free recipes",
                "description": "List all free recipes",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::listItensShortFree",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "Aperitivos e entradinhas": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "category.name": {
                                                                "type": "string",
                                                                "example": "Aperitivos e entradinhas"
                                                            },
                                                            "category.id": {
                                                                "type": "integer",
                                                                "example": "2"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Bazergan"
                                                            },
                                                            "id": {
                                                                "type": "integer",
                                                                "example": "30"
                                                            },
                                                            "enable": {
                                                                "type": "boolean",
                                                                "example": "true"
                                                            },
                                                            "author": {
                                                                "type": "string",
                                                                "example": "Lycia Kattan"
                                                            },
                                                            "search": {
                                                                "type": "string",
                                                                "example": "Bazergan  Lycia Kattan"
                                                            },
                                                            "hasVideo": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "isNew": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "isUpdated": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            },
                                                            "isBookmark": {
                                                                "type": "boolean",
                                                                "example": "false"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": ""
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/recipe/pdf/{id}": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Return PDF from recipe",
                "description": "Return PDF from recipe",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::pdf",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "ID of recipe",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "example": "1"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/recipe/stream/{id}": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Return STREAM from recipe",
                "description": "Return STREAM from recipe",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::stream",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "ID of recipe",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "example": "1"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry, wrong error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "false"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sorry, wrong error. Please try again"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [{
                    "sanctum": []
                }]
            }
        },
        "/recipe/{id}": {
            "get": {
                "tags": [
                    "Recipe"
                ],
                "summary": "Show recipe",
                "description": "Show recipe",
                "operationId": "App\\\\Http\\\\Controllers\\\\Api\\\\RecipeController::find",
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "ID of recipe",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "example": "1"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": "true"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "category_id": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "page": {
                                                    "type": "integer",
                                                    "example": "1"
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Cappuccino"
                                                },
                                                "yield": {
                                                    "type": "string",
                                                    "example": "null"
                                                },
                                                "ingredients": {
                                                    "type": "string",
                                                    "example": "[\"1 ovo\", \"1 fatia de pão de forma\", \"1 colher de sopa de manteiga ou margarina\", \"sal\"]"
                                                },
                                                "directions": {
                                                    "type": "string",
                                                    "example": "[\"Misture tudo numa tigela ou pote.\",\"Coloque 2 CS na x\\ícara e adicione leite quente (batido para fazer espuma).\",\"Guarde o restante num pote para usar quando quiser.\"]"
                                                },
                                                "note": {
                                                    "type": "string",
                                                    "example": "[\"\"]"
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "example": "null"
                                                },
                                                "created_at": {
                                                    "type": "timestamp",
                                                    "example": "2020-08-24T17:35:25.000000Z"
                                                },
                                                "new": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "free": {
                                                    "type": "boolean",
                                                    "example": "true"
                                                },
                                                "updated": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "search": {
                                                    "type": "string",
                                                    "example": "Cappuccino  Luiza Zaidan"
                                                },
                                                "enable": {
                                                    "type": "boolean",
                                                    "example": "true"
                                                },
                                                "share": {
                                                    "type": "boolean",
                                                    "example": "true"
                                                },
                                                "isBookmark": {
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "hasVideo": {
                                                    "type": "boolean",
                                                    "example": "false"
[...]
